.icon {
    font-size: 16px;
}

.w-47 {
    width: 47%;
}

.highlighted {
    background-color: green;
    color: white;
    font-weight: bold;
}

@media (max-width: 767px) {
    .list-group {
        max-height: 250px; 
        overflow-y: auto;
    }

    .flex-column + .flex-column {
        margin-top: 10px;
    }
}