<div class="row align-items-start">
    <div class="col d-flex flex-column">
      <div class="card">
        <div class="card-header">
          <h5>Games to Play</h5>
        </div>
        <div class="card-body flex-fill">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let game of toPlay">
              <i class="material-icons icon" *ngIf="game.status" [style.color]="statusColorMap[game.status]">circle</i>
              {{ game.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  
    <div class="col d-flex flex-column">
      <div class="card">
        <div class="card-header">
          <h5>Games to Revisit</h5>
        </div>
        <div class="card-body flex-fill">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let game of toRevisit">
              {{ game.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col d-flex flex-column">
      <div class="card">
        <div class="card-header">
          <h5>Pile of Shame</h5>
        </div>
        <div class="card-body flex-fill">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let game of pileOfShame">
              {{ game.name }}
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>
  