/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '../node_modules/angular-calendar/scss/angular-calendar.scss';

$dark-text: rgba(255, 255, 255, 0.55);
$semi-trans-background: rgba(113, 111, 111, 0.4);

.calendar {
  @include cal-theme(
  (
    event-color-primary: rgb(255, 255, 255),
    event-color-secondary: rgb(107, 107, 107),
    bg-primary: rgb(78, 78, 78),
    bg-secondary: rgb(44, 44, 44),
    weekend-color: indianred,
    bg-active: rgb(167, 166, 166),
    border-color: rgb(255, 255, 255),
    today-bg: rgb(180, 180, 180)
  )
);
}

/* Set a semi-transparent white background for the blur effect */
.container {
  background: $semi-trans-background;
  /* Apply the blur effect to the container */
  backdrop-filter: blur(5px);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Responsive Background Images */
.daytime-bg,
.daytime-bg-alt1,
.nighttime-bg,
.nighttime-bg-alt1,
.winter-day-bg,
.winter-night-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.daytime-bg {
  background-image: url('assets/images/minecraftScreenshots/cherry.webp');
}

.daytime-bg-alt1 {
  background-image: url('assets/images/minecraftScreenshots/barn.webp');
}

.nighttime-bg {
  background-image: url('assets/images/minecraftScreenshots/nightsea.webp');
}

.nighttime-bg-alt1 {
  background-image: url('assets/images/minecraftScreenshots/trainstation.webp');
}

.winter-day-bg {
  background-image: url('assets/images/minecraftScreenshots/winterday.webp');
}

/* Winter Night background */
.winter-night-bg {
  background-image: url('assets/images/minecraftScreenshots/winter.webp');
}

/* Scrollbar Styles */
.list-container {
  max-height: 82.5vh;
  overflow-y: auto;
  scrollbar-color: darkgrey slategrey;
  scrollbar-width: thin;
  min-height: 21vh;
}

/* Custom scrollbar styles */
.list-container::-webkit-scrollbar {
  width: 0.6em;
}

.list-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
}

.list-container::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

.list-container::-webkit-scrollbar-track {
  background-color: slategrey;
}

button.dropdown-item:active {
  background-color: #562a8b !important;
}

.btn-primary, .dropdown-item.active {
  &:not(.sort) {
    background-color: #562a8b !important;
    border-color: #6b36ac !important;

    &:hover, &:active, &:visited, &:active, .dropdown-item:active {
      background-color: #4e1b8d !important;
    }
  }
}

/* Text Color */
h2, h3, h4, h5, p, span {
  color: $dark-text !important;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Adjust the height for mobile devices */
  }

  .container {
    padding-top: 5px; /* Adjust padding for mobile */
    padding-bottom: 5px; /* Adjust padding for mobile */
  }
}

/* Media Query for Desktop Devices */
@media (min-width: 768px) {
  body {
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 60px); /* Adjust the height for desktop devices, accounting for header */
    overflow-y: hidden; /* Disable scrolling */
  }

  .container {
    padding-top: 20px; /* Adjust padding for desktop */
    padding-bottom: 20px; /* Adjust padding for desktop */
  }
}